---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include commonHead.html %}
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    {% include header.html active="home"%}
    <div class="content">
        <section id="intro">
            <div>
                <h1>Hi, I'm Alexis!</h1>
                <p>{{ site.data.text[0].intro }}</p>
            </div>
        </section>
        <section id="projects" class="full-width">
            <!-- Featured Projects 4 max -->
            <div class="project">
                <div class="thumbnail"></div>
                <div class="info">
                    <h1>Project Name</h1>
                    <p>This is an awesome project I made.</p>
                    <a href="#" class="button">Learn more</a>
                </div>
            </div>
            <div class="project reverse">
                <div class="thumbnail"></div>
                <div class="info">
                    <h1>Project Name</h1>
                    <p>A less awesome project but I'm still really proud of it.</p>
                    <a href="#" class="button">Learn more</a>
                </div>
            </div>
            <div class="project">
                <div class="thumbnail"></div>
                <div class="info">
                    <h1>Project Name</h1>
                    <p>A less awesome project but I'm still really proud of it.</p>
                    <a href="#" class="button">Learn more</a>
                </div>
            </div>
            <div class="project reverse">
                <div class="thumbnail"></div>
                <div class="info">
                    <h1>Project Name</h1>
                    <p>A less awesome project but I'm still really proud of it.</p>
                    <a href="#" class="button">Learn more</a>
                </div>
            </div>
        </section>
    </div>
    <div class="spacer"></div>
    {% include footer.html %}
</body>
</html>