---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include commonHead.html %}
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    {% include header.html active="home"%}
    <div class="content">
        <section id="intro">
            <div>
                <h1>Hi, I'm Alexis!</h1>
                <p>{{ site.data.text[0].intro }}</p>
            </div>
        </section>
        <section id="projects" class="full-width">
            <!-- Featured Projects 4 max -->
            {%- for i in (0..3) -%}
                {%- assign isEven = i | modulo: 2 -%}
                <div class="project{% if isEven == 0 %} reverse{% endif %}">
                    <picture class="thumbnail">
                        <img src="images/miniature-world.jpg" alt="" type="image/jpeg">
                    </picture>
                    <div class="info">
                        <h1>Project {{i}}</h1>
                        <p>This is an awesome project I made.</p>
                        <a href="#" class="button">Learn more</a>
                    </div>
                </div>
            {%- endfor -%}
        </section>
    </div>
    <div class="spacer"></div>
    {% include footer.html %}
</body>
</html>