---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include commonHead.html %}
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    {% include header.html active="home"%}
    <div class="content">
        <section id="intro">
            <div>
                <h1>Hi, I'm Alexis!</h1>
                <p>{{ site.data.text[0].intro }}</p>
            </div>
        </section>
        <section id="projects" class="full-width">
            <!-- Featured Projects 4 max -->
            {%- assign i = 0 -%}
            {%- for project in site.data.projects -%}
                {%- unless project.isFeatured -%}
                    {%- continue -%}
                {%- endunless -%}
                {%- assign isEven = i | modulo: 2 -%}
                <div class="project{% if isEven == 0 %} reverse{% endif %}">
                    <picture class="thumbnail">
                        {%- assign isFallback = true -%}
                        {%- for path in project.cover reversed -%}
                            {%- if isFallback == true -%}
                                {%- assign isFallback = false -%}
                                <img src="{{path}}" alt="" type="image/jpeg">
                            {%- else -%}
                                <source src="{{path}}">
                            {%- endif -%}
                        {%- endfor -%}
                    </picture>
                    <div class="info">
                        <h1>{{project.title}}</h1>
                        <p>{{project.intro}}</p>
                        <a href="#" class="button">Learn more</a>
                    </div>
                </div>
                {%- assign i = i | plus: 1 -%}
            {%- endfor -%}
        </section>
    </div>
    <div class="spacer"></div>
    {% include footer.html %}
</body>
</html>